services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    aea_tech_cli_snapshot_profiler_newrelic.filter:
        class: AEATech\SnapshotProfilerNewrelic\Filter

    aea_tech_cli_snapshot_profiler_newrelic.saver:
        class: AEATech\SnapshotProfilerNewrelic\Saver

    aea_tech_cli_snapshot_profiler_newrelic.adapter:
        class: AEATech\SnapshotProfilerNewrelic\Adapter
        arguments:
            $appName: ''
            $license: ''

    aea_tech_cli_snapshot_profiler_newrelic.profiler:
        class: AEATech\SnapshotProfiler\Profiler
        arguments:
            $adapter: '@aea_tech_cli_snapshot_profiler_newrelic.adapter'

    aea_tech_cli_snapshot_profiler_newrelic.event_matcher.all:
        class: AEATech\CLISnapshotProfilerEventSubscriber\EventMatcher\AllEventMatcher
        
    aea_tech_cli_snapshot_profiler_newrelic.event_matcher.command:
        class: AEATech\CLISnapshotProfilerEventSubscriber\EventMatcher\CommandEventMatcher
        
    AEATech\CLISnapshotProfilerNewrelicBundle\OptionsFactory: ~
    
    aea_tech_cli_snapshot_profiler_newrelic.event_subscriber:
        class: AEATech\CLISnapshotProfilerEventSubscriber\EventSubscriber
        arguments:
            $optionsFactory: '@AEATech\CLISnapshotProfilerNewrelicBundle\OptionsFactory'
            $profiler: '@aea_tech_cli_snapshot_profiler_newrelic.profiler'
            $filter: '@aea_tech_cli_snapshot_profiler_newrelic.filter'
            $saver: '@aea_tech_cli_snapshot_profiler_newrelic.saver'